<li class="list-group-item">
  <strong><%= user.login %></strong><br />
  Total merged PRs: <strong><%= user.merged_prs %></strong><br />
  Open PRs: <strong><%= user.open_prs %></strong><br />
  Rotting PRs (created before 7 days): <strong><%= user.rotting_prs %></strong><br />
  Assigned open issues: <strong><%= user.assigned_issues %></strong><br />
  Review requests: <strong><%= user.review_requests %></strong><br />
  Mentions last week: <strong><%= user.mentions_last_week %></strong><br />
</li>
